<ng-container *ngTemplateOutlet=" card_view "></ng-container>
<ng-template #detailed_view></ng-template>


<ng-template #card_view>
    <div class="environment-container">
        <div class="row">
            <div class="col-12">
                <ng-container *ngTemplateOutlet="leaf_svg"></ng-container>
                <h6 class="d-inline ms-4 mt-1">Environmental Data</h6>
            </div>
            <ng-container *ngFor="let item of data">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3">
                            <app-svg [svgType]="item.svg"></app-svg>
                        </div>
                        <div class="d-inline col-9">
                            <h5 class="d-inline">{{item.value}}</h5>
                            <small class="d-block">{{item.type}}</small>
                        </div>
                    </div>
                </div>
            </ng-container >

        </div>
    </div>
</ng-template>



<ng-template #leaf_svg>
    <svg width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#5e51b5">

        <g id="SVGRepo_bgCarrier" stroke-width="0" />

        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

        <g id="SVGRepo_iconCarrier">
            <path
                d="M17,8C8,10,5.9,16.17,3.82,21.34L5.71,22l1-2.3A4.49,4.49,0,0,0,8,20C19,20,22,3,22,3,21,5,14,5.25,9,6.25S2,11.5,2,13.5a6.22,6.22,0,0,0,1.75,3.75C7,8,17,8,17,8Z" />
            <rect width="24" height="24" fill="none" />
        </g>

    </svg>
</ng-template>
 